<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/emp/add" method="POST">
    employee id <input type="text" name="eid" id=""><br>
    wmployee name <input type="text" name="ename"><br>
    salary <input type="text" name="salary" id="">
    <input type="submit" value="register">
    </form>
</body>
</html>